@using Microsoft.AspNetCore.Components.Forms

@typeparam T
@namespace BlazorWebAssembly.Components

@* <div class="dropdown" tabindex="0"> *@
   @* <div class="dd-label" @onclick="click">selected: @selectedElement</div> *@
   @* <div class="popup @(!popupShow? "hidden" : "")"> *@
   <h1>helo</h1>
      <Popup PopupListTemplate="@PopupListTemplate" SearchAsync="@SearchAsync"/>
   @* </div> *@
@* </div> *@
