@using Microsoft.AspNetCore.Components;
@typeparam T
<h3>popup</h3>
<input @bind="ll" @oninput="onInput" />
<ul>
   @if (elements is not null)
   {
      @foreach (var el in elements)
      {
         if (PopupListTemplate is null)
         {
            <li>@el.ToString()</li>
         }
         else
         {
            <li>@PopupListTemplate(el)</li>
         }
      }
   }
</ul>

@code {
   private string ll = "gerg2f";

   private async Task onInput(ChangeEventArgs e)
   {
      var value = e.Value?.ToString() ?? String.Empty;
      elements = await SearchAsync(value);
      //Console.WriteLine("It is definiely: " + SelectedString);
      // inputString = SelectedString;
   }

   private IEnumerable<T> elements;


   [Parameter]
   public RenderFragment<T>? PopupListTemplate { get; set; }

   [Parameter]
   public Func<String, Task<IEnumerable<T>>> SearchAsync { get; set; }




}